@media (max-width: 640px) and (orientation: portrait) {
 .header-logo {
    margin-top: 200px;
 }
}

@media (max-width: 1199px) {
 .header-logo {
    margin-left: 30px;
    margin-right: auto;
 }
}
/*trend*/

@media (max-width: 640px) {
 .hero {
    background-image: url("../images/banner-mobile.jpg");
    background-position: center bottom;
 }

 .main-title {
    display: flex;
    line-height: 1;
    width: 60%;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
 }

 h1 {
    display: flex;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }
}

@media (max-width: 640px) and (orientation: portrait) {
 .trend-block {
    width: 100%;
 }
}

@media (min-width: 641px) and (max-width: 1199px) {
 .hero {
    background-image: url("../images/banner-bg-tablet.jpg");
 }

 .trend-block {
    width: calc(50% - 4px);
    min-width: 320px;
    margin-right: 4px;
    margin-bottom: 4px;
 }

 trend-block:nth-child(2n) {
    margin-right: 0;
 }
}

@media (max-width: 1199px) {
 .all-trends {
    flex-wrap: wrap;
 }

 .menu-list {
    margin-left: auto;
    margin-right: 30px;
 }

 .menu-list>ul {
    display: none;
 }

 .menu__button {
    display: block;
    margin-left: auto;
 }
}

@media (min-width: 1200px) {
 .hero {
    background-image: url("../images/banner-bg.jpg");
 }

 .all-trends {
    display: flex;
 }

 .trend-block {
    width: calc(25% - 3px);
    min-width: 296px;
    margin-right: 4px;
    margin-bottom: 4px;
    flex-wrap: nowrap;
 }

 .trend-block:last-child {
    margin-right: 0;
 }

 .menu__button {
    display: none;
 }
}
@media (min-width: 641px) and (max-width: 1199px) {
 .main-content {
    max-width: 590px;
 }

 .news-post-title {
    width: 100%;
 }

 .news-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 580px;
 }

 .prewiew-text {
    width: 100%;
 }

 .left-photo {
    float: left;
    max-width: 590px;
    margin-right: 0;
    margin-bottom: 10px;
    height: 275px;
    margin-left: 0;
    margin-right: 20px;
 }

 .news-post::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #eeeeee;
    margin-top: 10px;
 }

 .socials {
    width: auto;
    max-width: 1099px;
 }
}
@media (max-width: 640px) {
 .product-item {
    flex-wrap: wrap;
    width: 100%;
 }
}

@media (min-width: 641px) and (max-width: 1199px) {
 .product-item {
    flex-wrap: wrap;
    width: 49%;
 }
}

@media (max-width: 640px) {
 .product-item {
    flex-wrap: wrap;
    width: 33%;
 }
}
