/* шапка сайта */
@media (max-width: 640px) {
   .hero {
      background-image: url(../images/banner-mobile.jpg);
   }

   .trend-block {
      display: flex;
      width: 50%;
      flex-wrap: wrap;
      justify-content: space-between;
   }
}

@media (min-width: 641px and max-width: 1199px) {
   .hero {
      background-image: url(../images/banner-bg-tablet.jpg);
   }

   .trend-block {
      display: flex;
      width: 50%;
      flex-wrap: wrap;
      justify-content: space-between;
   }  
}

@media (min-width: 1200px) {
   .hero {
      background-image: url(../images/banner-bg.jpg);
   }

   .trend-block {
      display: flex;
      width: 25%;
      justify-content: space-between;
   }
}

.hero {
   display: flex;
   position: relative;
   flex-direction: column;
   min-height: 400px;
   width: 100%;
   background-color: #6d6c69;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
}

.hero:after {
   content: '';
   background-color: #000000;
   opacity: 0.6;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.flex-container {
   display: flex;
   margin-top: 30px;
   width: 100%;
   justify-content: space-around;
   z-index: 2;
}

.header-logo {
   display: block;
   width: 175px;
}

.menu-list>ul {
   display: flex;
   list-style-type: none;
   margin-top: 15px;
   padding-left: 0;
}

.menu-list+.menu-list-item {
   margin-left: 200px;
}

.menu-list-item {
   text-decoration: none;
   text-transform: uppercase;
   font-family: arial, sans-serif;
   color: #ffffff;
   margin-left: 35px;
}

.main-title {
   display: flex;
   line-height: 1.5;
   width: 730px;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   text-transform: uppercase;
   font-family: arial, sans-serif;
   color: #ffffff;
   z-index: 3;
}

h1 {
   font-size: 45px;
}

/* весь блок */
.trend-news-title {
   text-transform: uppercase;
   font-family: arial, sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   margin-top: 40px;
}

.trend-news-title::after {
   content: "";
   display: block;
   border-width: 2px;
   width: 70px;
   margin-top: 10px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
   border-style: solid;
   border-color: #b2a15c;
   background-color: #b2a15c;
}

.all-trends {
   display: flex;
   text-transform: uppercase;
}

.trend-block {
   display: flex;
   position: relative;
   background-color: #6d6c69;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   width: 25%;
   height: 300px;
   position: relative;
   margin-right: 4px;
   margin-bottom: 4px;
}

.trend-block:last-child {
   margin-right: 0;
}

.trend-block::after {
   content: '';
   position: absolute;
   background-color: black;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.5;
}

.trend-item-title-link {
   border: 3px solid #b2a15c;
   display: block;
   padding: 30px;
   margin-top: auto;
   margin-right: 15px;
   margin-left: 15px;
   margin-bottom: 10px;
   z-index: 1;
}

.item-news {}

.trend-block-1 {
   background-image: url("../images/trend1.jpg");
}

.trend-block-2 {
   background-image: url("../images/trend2.jpg");
}

.trend-block-3 {
   background-image: url("../images/trend3.jpg");
}

.trend-block-4 {
   background-image: url("../images/trend4.jpg");
}

.trend-title-link {
   color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
}

.trend-title {
   margin: 0;
}

.all-info {
   margin-top: 50px;
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

/*основной контент*/
a {
   text-decoration: none;
   text-transform: uppercase;
   font-family: arial, sans-serif;
   color: black;
}

.main-content {
   display: flex;
   flex-direction: column;
}

.news-post {
   display: flex;
   width: 800px;

   margin-top: 10px;
   margin-bottom: 60px;
}

.item-news {
   font-size: 14px;
   font-weight: 700;
   margin-left: 0;
   margin-top: 0;
   padding-left: 0;
   text-transform: uppercase;
   font-family: arial, sans-serif;
}

time {
   margin-right: 10px;
}

.item-news>ul {
   display: flex;
   list-style-type: none;
   margin-top: 0;
   padding-left: 0;
}

.item {
   text-decoration: none;
   color: #b2a15c;
   margin-right: 20px;
}

.left-photo {
   float: left;
   height: 275px;
   margin-left: 0;
   margin-right: 20px;
}

.one-news-blog {
   display: block;
   width: 500px;
   padding-top: 0;
   padding-left: 10px;
   padding-right: 10px;
}

h2 {
   font-size: 20px;
   text-transform: uppercase;
   font-family: arial, sans-serif;
}

.footer {
   display: flex;
   font-size: 12px;
}

.news-time {
   color: #898989;
   font-size: 12px;
   font-family: arial, sans-serif;
   text-transform: lowercase;
   font-weight: 100;
}

.name-author {
   font-weight: 700;
   font-family: arial, sans-serif;
}

.prewiew-text {
   display: block;
   width: 352px;
   margin-top: 45px;
   font-size: 15px;
   font-family: arial, sans-serif;
}

/* боковой контент */
.right-side-block {
   text-transform: uppercase;
   font-family: arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
}

.different-sections {
   display: flex;
   flex-direction: column;
   width: 280px;
}

.different-section {
   display: flex;
   flex-direction: column;
   margin-bottom: 50px;
}

.right-news-titles::after {
   content: "";
   display: block;
   border-width: 2px;
   width: 70px;
   margin-top: 10px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
   border-style: solid;
   border-color: #b2a15c;
   background-color: #b2a15c;
}

.right-side-photo {
   float: left;
   margin-right: 17px;
   margin-bottom: 20px;
}

.right-news {
   display: flex;
   margin-bottom: 10px;
}

.right-news>.news-time {
   color: #b69f5b;
   font-size: 12px;
   font-weight: 400;
   text-transform: none;
   font-family: arial, sans-serif;
}

.right-side-content {
   text-align: left;
}

.right-news-title {
   display: block;
   margin-top: 5px;
}

section>email-address {
   display: block;
   margin-bottom: 20px;
}

.field {
   width: 270px;
   height: 45px;
   background-color: #f3f7f6;
   border-style: none;
   padding-left: 15px;

   background-repeat: no-repeat;
   background-size: 25px;
   background-position: right;
}

.form-row {
   display: block;
   border-style: none;
   margin-top: 10px;
}

.form-row-glass {
   display: flex;
   width: 287px;
}

.img-find {
   width: 48px;
   height: 48px;
   background-color: #000000;
   background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
   background-repeat: no-repeat;
   background-size: 25px;
   background-color: #b69f5b;
   background-position: right 10px center;
}

.form-row-glass>.field {
   width: 222px;
   height: 46px;
}

.find {
   width: 50px;
   height: 50px;
   color: #b69f5b;
}

.button {
   display: block;
   width: 287px;
   height: 47px;
   background-color: #b69f5b;
   border-style: none;
   margin-top: 10px;
   color: #ffffff;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 15px;
}

.all-tegs {
   display: flex;
   width: 287px;
   padding: 0;
   flex-wrap: wrap;
   list-style-type: none;
}

.teg {
   display: flex;
   padding-top: 8px;
   padding-right: 13px;
   padding-bottom: 8px;
   padding-left: 13px;
   margin-right: 5px;
   margin-bottom: 5px;
   border-style: solid;
   border-width: 2px;
   border-color: #eeeeee;
   font-weight: 800;
}

.items-list>li {
   list-style-type: none;
}

.list-item {
   display: block;
   list-style-type: none;
   width: 100%;
   padding-top: 22px;
   padding-bottom: 17px;
   border-bottom-style: solid;
   border-bottom-color: #eeeeee;
}

.items-list {
   padding-left: 0;
}

.number {
   padding-left: 5px;
   vertical-align: super;
   color: #b59f5b;
}

/* footer */
.page-footer {
   width: 100%;
}

.socials {
   display: flex;
   height: 80px;
   padding: 0%;
   margin-left: 25px;
   background-color: #f3f7f6;
   background-position: center center;
   justify-content: center;
}

.socials-item {
   display: block;
   list-style-type: none;
   text-align: center;
   margin-top: 20px;
}

.social-link-twitter {
   display: block;
   background-image: url(../svg/004-twitter.svg);
   background-repeat: no-repeat;
   background-size: 20px;
   background-position: center center;
   width: 40px;
   height: 40px;
}

.social-link-pinterest {
   display: block;
   background-image: url(../svg/001-pinterest.svg);
   background-repeat: no-repeat;
   background-size: 20px;
   background-position: center center;
   width: 40px;
   height: 40px;
}

.social-link-facebook {
   display: block;
   background-image: url(../svg/002-facebook-logo.svg);
   background-repeat: no-repeat;
   background-size: 20px;
   background-position: center center;
   width: 40px;
   height: 40px;
}

.social-link-instagram {
   display: block;
   background-image: url(../svg/005-instagram.svg);
   background-repeat: no-repeat;
   background-size: 20px;
   background-position: center center;
   width: 40px;
   height: 40px;
}

.social-link-tumblr {
   display: block;
   background-image: url(../svg/003-tumblr.svg);
   background-repeat: no-repeat;
   background-size: 20px;
   background-position: center center;
   width: 40px;
   height: 40px;
}

.copyright {
   display: block;
   margin-top: 75px;
   margin-bottom: 40px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-family: calibri, sans-serif;
   font-size: 13px;
   font-weight: 700;
   color: #929292;
}